
$primary: #0d6efd;     // Bootstrap default blue
$body-bg: #f8f9fa;     // light gray background
$body-color: #212529;  // default text color


@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}
